amqp==5.4.0
asgiref==3.12.1
ast_serialize==0.11.2
attrs==26.1.0
billiard==4.3.0
celery==5.6.3
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.4.0
colorama==0.4.6
coverage==7.16.1
Django==5.2.17
django-cors-headers==4.9.0
django-environ==0.14.0
django-stubs==6.1.1
django-stubs-ext==6.1.1
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
factory_boy==3.3.3
Faker==40.39.0
grimp==3.17
import-linter==2.15
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
librt==0.15.0
markdown-it-py==4.2.0
mdurl==0.1.2
mypy==2.3.1
mypy_extensions==1.1.0
mysqlclient==2.3.0
packaging==26.3
pathspec==1.1.1
pluggy==1.6.0
prompt_toolkit==3.0.53
Pygments==2.21.0
PyJWT==2.15.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.14.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
redis==6.4.0
referencing==0.37.0
rich==15.0.0
rpds-py==2026.6.3
ruff==0.16.8
setuptools==84.0.0
six==1.17.0
sqlparse==0.6.0
types-PyYAML==6.0.12.20260906
typing_extensions==4.16.0
tzdata==2026.4
tzlocal==5.4.4
uritemplate==4.2.0
vine==5.1.0
wcwidth==0.9.1
wheel==0.48.0
